[Desktop Entry]
Name=ChromeBurp
Exec=storage-explorer

Icon=/home/ronnas/develop/personal/dotfiles/icons/azure2.png
Type=Application

Name[en_US]=azureStorage
