[Desktop Entry]
Name=Burp
Exec=burp %f
Icon=/home/ronnas/develop/personal/dotfiles/icons/burp.png
Terminal=false
Type=Application
GenericName[en_US]=Burp professional
