[Desktop Entry]
Name=Charles
Name[en_US]=Charles
Exec=charles %f
Icon=/home/ronnas/develop/personal/dotfiles/icons/charles.png
Terminal=false
Type=Application
