#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=nemo develop
Name=Open Develop
Icon=/home/ronnas/develop/personal/dotfiles/icons/Code.png

Name[en_US]=Develop
