[Desktop Entry]
Name=Godot
Comment=Super Nintendo Entertainment System (TM) emulator
Exec=godot4 %f
Icon=/home/ronnas/develop/personal/dotfiles/icons/godot.png
Terminal=false
Type=Application
